<div style="width: 100%; top: 60px; font-family: 'Open Sans';">
  <div>
    <div style="display: flex; flex-direction: row; align-items: baseline;">
      <p>Storage</p>
      <mat-progress-bar mode="determinate" value="40"
        style="width: 200px; height: 10px; border-radius: 15px; margin-left: 2%;">
      </mat-progress-bar>
    </div>
    <div style="display: flex; flex-direction: row; align-items: center;">
      <p>{{dataUsed}}</p>
      <p>&nbsp;GB</p>
      <p>&nbsp;/&nbsp;</p>{{dataOverall}}
      <p>&nbsp;GB</p>
    </div>
    <div>
      <div class="mat-elevation-z8" class="table-custom">

      </div>
    </div>
  </div>
</div>
