.body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}
.title{
  font-size: 25pt; 
  margin-left: 1%;
}
#custom-button {
  display: flex;
  flex-direction: column;
//   justify-items: center;
  background-color: white;
  // width: 40vh;
  width: 10%;
  height: 15vh;
  border-radius: 10px;
  place-items: normal;
//   flex-flow: column-reverse;
//   align-items: stretch;
  margin: 1%;
  justify-content: center;
}
.button-rendered {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  flex-basis: 100%;
}
.btCreate_icon{
  color: #FF9237; 
  // min-width: 20%; 
  width: 100%; 
  // min-height: 20%; 
  height: 50%; 
  font-size: 12vh;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.project-button {
  color: #fff;
  // width: 40vh;
  width: 15%;
  height: 15vh;
  border-radius: 10px;
  border: 0;
  margin: 1%;
  flex: 0 1 10%;
  justify-content: space-between;
  justify-self: center;
  justify-content: center;
  list-style: none;
  word-wrap: break-word;
}
.invitationDiv{
  width: 20%;
  height: 20vh;
  border-radius: 15px;
  margin-left: 1%;
}
.btnInvitation{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #FF9237;
  color: #fff;
}
.btnActionsOfInvitation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
