<div style=" margin-bottom: 50px;">
  <div>
    <p class="title">Invitation of collaboration</p>
    <div class="invitationDiv">
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
      <mat-card class="btnInvitation mat-elevation-z6" color="accent">
        <div>
          <p style="font-size: xx-large;
          text-align: left;
          margin-top: auto;">Lung X Ray</p>
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">X-Ray films</p>
          <div class="btnActionsOfInvitation">
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onAccept()">Accept</button>
            <button mat-flat-button style="color: #FF9237; background-color: white;"
              (click)="onReject()">Reject</button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div>
    <p class="title">Create new project</p>
    <div #buttonsContainer class="button-rendered">
      <button mat-raised-button color="accent" id="custom-button" class="mat-elevation-z6" (click)='onCreate()'>
        <mat-icon class="btCreate_icon">
          add
        </mat-icon>
        <!-- <p style="color: black; font-size: x-large;">Create</p> -->
      </button>
      <button *ngFor="let proj of projects" [(ngModel)]='id' class="project-button mat-elevation-z6" mat-raised-button
        style="background-color:#FF9237;" [matMenuTriggerFor]="menu">
        <div *ngIf="proj"
          style="width: 100%; height: 100%; display: flex; flex-direction: column; word-wrap: break-word;">
          <p style="font-size: large;
          text-align: left;
          margin-top: auto;">{{miscService.getSubstring(proj["id"])}}</p>
          <p style="font-size: smaller;
          text-align: left;
          margin-top: auto;">{{miscService.getSubstring(proj["description"])}}</p>
        </div>
        <mat-menu #menu="matMenu" xPosition="before">
          <div *ngFor="let i of menuContext" style="border-radius: 10px;">
            <button mat-flat-button style="width: 100%; align-content: flex-start;"
              (click)="onClickMenuContext(i, proj)">{{i}}</button>
            <mat-divider></mat-divider>
          </div>
        </mat-menu>
      </button>


    </div>
  </div>

</div>