<div class="toolbarContainer">
    <mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 10;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="onSidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Vision Intelligent Console</span>
        <button mat-flat-button id="btnSelectProject" [matMenuTriggerFor]="menu">{{miscService.getSubstring(selectedProject)}}</button>
        <mat-menu #menu="matMenu" xPosition="before">
            <div *ngFor="let i of menuContext" style="border-radius: 10px;">
                <button mat-flat-button style="width: 100%; align-content: flex-start;"
                    (click)="onClickMenuContext(i)">{{i}}</button>
                <mat-divider></mat-divider>
            </div>
        </mat-menu>
        <span class="nav-space"></span>
        <div id="btnLog">
            <div *ngIf="userDetails == null">
                <button mat-button id="btnPhoto" (click)="userAuth.signInWithGoogle()">
                    <img src="../../../assets/images/user.png" alt="" style="width: 30px; height: 30px;" />
                </button>
            </div>
            <div *ngIf="userDetails != null" style="display: flex; flex-direction: row;">

                <button mat-button [matMenuTriggerFor]="menu"
                    style=" height: fit-content; width: fit-content; outline: none;"
                    *ngIf="userDetails.photoURL != null">
                    <div style="display: flex; flex-direction: row; width: fit-content;">
                        <img class="userLoggedin" [src]="userDetails.photoURL" alt="" />
                        <p id="displayName">{{userDetails.displayName}}</p>
                    </div>

                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <div style="padding: 10px 20px 10px 20px">
                        <div (click)="userAuth.signOut()">

                            <button mat-flat-button color="primary">Sign out</button>

                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>



    </mat-toolbar>

</div>