<div class="toolbarContainer">
    <mat-toolbar color="primary" class="mat-elevation-z8" style="z-index: 10;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Vision Intelligent Console</span>
        <span class="nav-space"></span>
        <div id="btnLog">
            <div *ngIf="userDetails == null">
                <button mat-button id="btnPhoto" (click)="userAuth.signInWithGoogle()">
                    <img src="https://image.flaticon.com/icons/svg/1077/1077063.svg" alt=""
                        style="width: 30px; height: 30px;" />
                </button>
            </div>
            <div *ngIf="userDetails != null" style="display: flex; flex-direction: row;">

                <button mat-button [matMenuTriggerFor]="menu"
                    style=" height: fit-content; width: fit-content; outline: none;"
                    *ngIf="userDetails.photoURL != null">
                    <div style="display: flex; flex-direction: row; width: fit-content;">
                        <img class="userLoggedin" [src]="userDetails.photoURL" alt="" />
                        <p id="displayName">{{userDetails.displayName}}</p>
                    </div>

                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <div style="padding: 10px 20px 10px 20px">
                        <div (click)="userAuth.signOut()">

                            <button mat-flat-button color="primary">Sign out</button>

                        </div>
                    </div>
                </mat-menu>
            </div>
        </div>



    </mat-toolbar>
    <mat-sidenav-container class="sidenavContainer">
        <mat-sidenav #snav>
            <mat-nav-list>
                <mat-accordion [displayMode]="'flat'">
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="../../../assets/images/project.png" class="custom-icon" />Project

                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding-left: 5%;">
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/projectmanagement.png" class="custom-icon" />Project
                                Management</button>

                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="../../../assets/images/dataprocessing.png" class="custom-icon" />Data
                                Preprocessing
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding-left: 5%;">
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/dataexchange.png" class="custom-icon" />Data
                                Exchange</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/preprocessing.png"
                                    class="custom-icon" />Preprocessing</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="../../../assets/images/server.svg" style="width: 30px; height: 30px;" />
                                Training
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding-left: 5%;">
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/aijobs.png" class="custom-icon" />AI Jobs</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/modeldesign.png" class="custom-icon" />Model
                                Designer</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/artifacts.png" class="custom-icon" />Artifacts</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="../../../assets/images/configure.png"
                                    style="width: 30px; height: 30px;" />Serving
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding-left: 5%;">
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/apis&services.png" class="custom-icon" />APIs and
                                Services
                            </button>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/mornitoring.png"
                                    class="custom-icon" />Monitoring</button>
                            <mat-divider style="width: 100%;"></mat-divider>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <img src="../../../assets/images/configure.png"
                                    style="width: 30px; height: 30px;" />Configuration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding-left: 5%;">
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/setting.png" class="custom-icon" />Setting
                            </button>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <button mat-flat-button color="basic" class="custom-flat-button"><img
                                    src="../../../assets/images/adminzone.png" class="custom-icon" />Admin Zone</button>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <button mat-flat-button color="secondary">Basic</button>
            <button mat-flat-button color="primary">Primary</button>
            <button mat-flat-button color="accent">Accent</button>
            <button mat-flat-button color="warn">Warn</button>
            <button mat-flat-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>