.toolbarContainer{
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 768px; //size iPad
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidenavContainer{
  flex: 1;
}
.nav-space {
    flex: 1 0 auto;
  }

  mat-toolbar-row {
    // background-color: #0F9D58;
    // color: #ffffff;
    position: fixed;
  }
  
  button{
    outline: none;
  }
  
  .userLoggedin{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    align-self: center;
    // vertical-align: text-top;
  }
  
  #btnPhoto {
    box-sizing: border-box;
    min-width: 44px;
    width: fit-content;
    height: fit-content;
    padding: 0;
    border-radius: 22px;
    align-items: center;
    justify-content: center; outline: none;
  }
  #userInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  #userInfo > img {
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 20%;
    word-wrap: break-word;
    outline: none;
  }
  #displayName{
    margin-left: 3%;
  }
