// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "~bootstrap/scss/bootstrap-grid";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-blue: (
  // P1: #0081FF,
  P1: #ff6500,
  P2: #ff9237,
  P3: #f12b2b,
  P4: #7e7e7e,
  P5: #f7f7f7,
  contrast: (
    P1: white,
    P2: white,
    P3: white,
    P4: white,
    P5: white,
  )
);
$secondary-orange: (
  // P1: #0081FF,
  S1: #ff9237,
  contrast: (
    S1: white,
  )
);
$mat-green: (
  P2: #ff9237,
  contrast: (
    P2: white,
  ),
);
$mat-red: (
  P3: #f12b2b,
  contrast: (
    P3: white,
  ),
);
// $mat-basic:(
//     B1: white,
//     contrast: (
//         B1: #0081FF,
//     )
// );
$finalGraduation-primary: mat-palette($primary-blue, P1);
$finalGraduation-secondary: mat-palette($secondary-orange, S1);
$finalGraduation-accent: mat-palette($mat-green, P2);
// $finalGraduation-accent: mat-palette($mat-pink, A200, A100, A400);
// $finalGraduation-basic: mat-palette($mat-basic);
// The warn palette is optional (defaults to red).
$finalGraduation-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$finalGraduation-theme: mat-light-theme($finalGraduation-primary, $finalGraduation-accent, $finalGraduation-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($finalGraduation-theme);

/* You can add global styles to this file, and also import other style files */
$custom-typography: mat-typography-config(
  $font-family: "Open Sans" sans-serif !important,
);
@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  // font-family: 'Open Sans', "", sans-serif;
  font-family: "Open Sans" sans-serif !important;
}

// * {
//   font-family: 'Open Sans'sans-serif !important;
// }

// .material-icons {
//     font-family: 'Material Icons';
//   }
