.body {
    display: inline-block;
    margin: 0 auto;
    color: black;
    text-align: center;
  }
  
  h1 {
    margin: .8em 3rem;
    font: 4em 'Open Sans';
  }
  p {
    display: inline-block;
    margin: .2em 3rem;
    font: 2em 'Open Sans';
  }